=form_for [:admin, event,slot], :method=>:create, :remote=>true, :html=>{:class=>"form"} do |f|
  .group
    .fieldWithErrors.create_slot_box
    =f.label :username, "Add New Slot", :class=>"label"
    %span.error
  .group
    =f.collection_select :host_id, hosts, :id, :username
    =f.time_select :start_at, :minute_step=>slot_duration
  