=form_for [:admin, slot], :remote=>true, :html=>{:class=>"form"} do |f|

	.group
  .fieldWithErrors.name_box
    =f.label :name, "Name", :class=>"label"
    %span.error
  =f.text_field :name, :class=>"text_field"
-