-#2 different possible views depending on the authorization of the user

%table.table
  %thead
    %tr
      %th Time
      %th TA/LA
      %th Student
      %th.last &nbsp;
    %tr
  - slots.each do |slot|
    %tr{:class=> cycle("odd","even", :name=>"row_class"), :id=>"slot"+slot.id.to_s} 
      %td #{printSlotTime(slot)}
      %td #{slot.host.username}
      %td #{printSlotStudent(slot)}
      -if modifiable
        %td.last
          <a href="#"> show </a> <a href="#"> edit </a> 
          #{link_to "delete", [:admin, slot], :method=>"delete", :remote=> true, :confirm=>"Delete this slot?"}

     