%html
  %head
    <meta content="text/html: charset=UTF-8" http-equiv="Content-Type"/>
  %body
    :markdown
      Welcome to 6.115!
      -----------------
      
      Your username is `#{@username}`
      Your password is `#{@password}`
      
      The website is at [Sweet 6.115 Site](localhost:3000)
      
