/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

#box {
    margin: auto auto
   }
#box .block{
	box-shadow: none;
}
#box .block h2 {
    background: none repeat scroll 0 0 #5C1F1F;
   }
.form label.inline-label {
	display: inline;
}

.calendar-link{
	text-shadow: none
}

#facebox .timestamp{
	font-size: large
}

#slot-manager {
	border:1px solid rgba(50,50,50,0.5);
  	border-radius:0px, 0px, 5px, 5px;
}

#slot-manager .attending{
	padding: 10px;
	display: inline-block;
}
#slot-manager .attending .msg{
	font-size: large
}
#slot-manager .attending a{
	float: right
}

#slot-manager .attending .slot-info{
	font-size: medium;
    padding-right: 20px;
}

.announcements .message {
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin: 0 auto 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.announcements .message p {
    margin: 8px;
}

.announcements .warning {
    background: url("web-app-theme/themes/default/images/messages/warning.png") no-repeat scroll 10px center #F9C006;
    border: 1px solid #BB9004;
}
.announcements .error, .announcements .error-list {
    background: url("web-app-theme/themes/default/images/messages/error.png") no-repeat scroll 10px center #CC4831;
    border: 1px solid #993624;
}
.announcements .notice {
    background: url("web-app-theme/themes/default/images/messages/notice.png") no-repeat scroll 10px center #B8D1E2;
    border: 1px solid #8A9DAA;
    color: #28485E;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

#lab_hours {
	font-size: small
}

#sidebar {
	width: 30%
}
#main{
	width: 67%
}

.table .borderless{
	border-style: none;
	padding-bottom: 3px;
}

.table .comment {
	font-style: oblique;
	/*padding-left: 20px;*/
	padding-top: 0px;
}