%h2.title Introduction
.inner
  :markdown

    This class is a chance to remember why you came to MIT: to learn and to build.  In the humble and  unbiased opinion of the lecturer and TA's, 6.115 is one of the most exciting classes you can take at MIT to further your professional growth as an engineer.  Systems that employ embedded micro-control are all around you: CD and MP3 players, kitchen appliances like microwave ovens, cellular phones, calculators, television sets, and high performance aircraft, to name a few.  In ways you may not realize, even very familiar consumer products that existed in some form before the microprocessor benefit in their contemporary incarnations from microcontrollers.  A modern, high-end luxury automobile will typically contain more than a dozen microcontrollers to provide everything from engine and emissions control to music programming.  This class is your passport into the world of people who love to build elegant, efficient systems that work.

    Course topics include optical tomography, multi-axis robot arm control, video and audio signal processing, power electronics including laptop power supplies and fluorescent lamp ballasts, and numeric computation (calculators and floating point calculations). This class is not particularly about learning how a specific microcontroller is programmed, or about designing circuits, or about wiring chips together.  We do a little of all of these things, but our real goal is to introduce you to a palette of tools and techniques that let you build what you can imagine.  These techniques are much more general than the details of a single processor or programming language.  Chips come and go, but successful approaches for engineering design have a life that spans many iterations of a particular technology. Students in the class build a PIC microcontroller development system that you can keep if you complete the class.

    6.115 Staff and Students thank the following sponsors for their generous support of the course:

    The Grainger Foundation  
    The Landsman Foundation  
    The Guidant Foundation  
    Mr. Ron Koo  
    The Cambridge-MIT Institute  
    The Ford Motor Company  