%h2.title Objectives and Outcomes
.inner
  :markdown
  
  
    In a nutshell:
    Fight to build - build to win.
    -------------------------------

    More details:


    This class, like its sister [6.131](http://web.mit.edu/6.131/www/), is your passport into the world of people who love to build elegant, efficient systems that work.  The overarching goal of this class is to share with you the skills and techniques that designers use to make useful systems that solve problems for people.  These are the skills that will make you successful in an engineering career.  They empower you to see the value of analysis techniques you have learned.  Your experience in this class will teach you to use analytical methods to constrain problems in ways that lead to winning solutions &mdash; answers that makes your UROP project successful, that make your thesis work, that make your product a commercial success, that let you stand flat-footed in front of a problem and fight to win.

    In our humble and unbiased opinion, 6.115 is one of the most exciting classes you can take at MIT to further your professional growth as an engineer.  Systems that employ embedded micro-control are all around you: CD and MP3 players, kitchen appliances like microwave ovens, cellular phones, calculators, television sets, and high performance aircraft, to name a few.  In ways you may not realize, even very familiar consumer products that existed in some form before the microprocessor benefit in their contemporary incarnations from microcontrollers.  A modern, high-end luxury automobile will typically contain more than a dozen microcontrollers to provide everything from engine and emissions control to music programming.

    This class, however, is not particularly about learning how a specific microcontroller is programmed, or about designing circuits, or about wiring chips together.  We'll do a little of all of these things this term, but our real goal is to introduce you to a palette of tools and techniques that let you build what you can imagine. These techniques are much more general than the details of a single processor or programming language.  Chips come and go, but successful approaches for engineering design have a life that spans many iterations of a particular technology.

    When you leave 6.115, you will:

    * Have confidence in designing an engineered system "from scratch" &mdash; a talent you will hone and ultimately demonstrate with your final project.
    * Appreciate the essential role of your honesty, integrity, and clear communication skills in an engineering project.
    * Be able to keep a clear laboratory notebook.
    * Know how to read a circuit schematic.
    * Know how to construct electronic circuits using solder, printed circuit boards, and breadboards.
    * Know how to program a microprocessor in assembly language and in high-level languages like C.
    * Know how to connect peripheral chips like analog-to-digital converters, digital-to-analog converters, serial ports, and parallel ports to a microcontroller.
    * Know how to use software interrupts and microcontroller timers.
    * Know how a keyboard works and how to connect one to a microcontroller.
    * Know how to use an LCD display module.
    * Know how to use an LED.
    * Know how to use and control DC motors.
    * Know how to use and control a power electronic "buck" converter.
    * Know how to use basic features of laboratory equipment like power supplies and oscilloscopes.
